# ShibCompatWith24 on
AuthType shibboleth
ShibRequestSetting requireSession 1
require shib-user abdavids@ncsu.edu
require shib-user ajmendoz@ncsu.edu
require shib-user amstacy@ncsu.edu
require shib-user armccoy@ncsu.edu
require shib-user baking@ncsu.edu
require shib-user bealdrid@ncsu.edu
require shib-user bmcholer@ncsu.edu
require shib-user btdyer@ncsu.edu
require shib-user bvsmith2@ncsu.edu
require shib-user cemiles@ncsu.edu
require shib-user cfbelled@ncsu.edu
require shib-user cnbeeson@ncsu.edu
require shib-user dasurret@ncsu.edu
require shib-user dhoward@ncsu.edu
require shib-user djdeter@ncsu.edu
require shib-user dlhoward@ncsu.edu
require shib-user ebrunso@ncsu.edu
require shib-user hflores@ncsu.edu
require shib-user itpetty@ncsu.edu
require shib-user jlmart15@ncsu.edu
require shib-user jrbeasle@ncsu.edu
require shib-user jrchamp@ncsu.edu
require shib-user jsander8@ncsu.edu
require shib-user jsw@ncsu.edu
require shib-user levans@ncsu.edu
require shib-user lmbolles@ncsu.edu
require shib-user mczellwe@ncsu.edu
require shib-user mdulberg@ncsu.edu
require shib-user mkricha3@ncsu.edu
require shib-user msdulber@ncsu.edu
require shib-user pether@ncsu.edu
require shib-user ptwatson@ncsu.edu
require shib-user rcpence@ncsu.edu
require shib-user rkwilker@ncsu.edu
require shib-user secolvin@ncsu.edu
require shib-user sjweathe@ncsu.edu
require shib-user skervin@ncsu.edu
require shib-user smbader@ncsu.edu
require shib-user ssgant@ncsu.edu
require shib-user swatkins@ncsu.edu
require shib-user tchinds@ncsu.edu
require shib-user tpearso2@ncsu.edu
require shib-user tpgrimes@ncsu.edu
require shib-user wjhicks@ncsu.edu
require shib-user ychappe@ncsu.edu
require shib-user yzchen@ncsu.edu
